<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Fazer CheckOut</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

				<form th:action="@{/checkouts/cadastroValorTotal}" method="get" th:object="${checkOut}">
					<label for="valorTotal" class="form-label">Valor Total</label>
					<input type="text" name="valorTotal" id="valorTotal" th:value="${{session.checkout.valorTotal}}" class="form-control mt-3">
				</form>

				<form th:action="@{/checkouts/abrirescolhercheckin}" method="get" class="mt-3">
					<button type="submit" class="btn btn-primary">Escolher Checkin</button>
				</form>
				<div th:if="${session.checkout?.checkIn != null}">
					<p th:text="'Descrição: ' + ${session.checkout.checkIn.quarto.descricao}" class="mt-3"></p>
					<p th:text="'Valor Diária: ' + ${session.checkout.checkIn.quarto.valor}" class="mt-3"></p>
					<p th:text="'Data CheckIn: ' + ${#temporals.format(session.checkout.checkIn.dataCheckIn, 'dd/MM/yyyy')}" class="mt-3"></p>
					<p th:text="'Data CheckOut: ' + ${#temporals.format(session.checkout.checkIn.dataCheckOut, 'dd/MM/yyyy')}" class="mt-3"></p>
				</div>

				<form th:action="@{/checkouts/cadastrar}" method="get" class="mt-3">
					<button th:disabled="${session.checkout?.checkIn == null} or ${session.checkout?.valorTotal == null}" type="submit" class="btn btn-primary">Cadastrar CheckOut</button>
				</form>
			</div>
		</main>
	</div>

</body>
</html>